# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment
.env
venv/
env/
.venv/

# IDE
.vscode
.idea

# Static
staticfiles/

# Secrets
serviceAccountKey.json
*.json
!package.json
!tsconfig.json
!jsconfig.json
